.App{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  /* margin-left: 550px; */
  /* background-color: #afe7e879; */
  width: 100vw;
  height: 100vh;
  background-image: url(../pexels-brett-sayles-912364.jpg);

  background-size: cover;
 }